.MainContainer {
  display: flex;
  justify-content: center;
  background: #fff3f1;
  /* background: #f7fafc; */
}

.Container {
  height: 105vh;
  width: 100%;
  max-width: 1200px;
  padding: 0 20px;
  align-items: center;
  justify-content: center;

}

.row {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 10px;


}

.heading {
  text-align: center;
  margin-bottom: 57px;
  margin-top: 36px;
}

.SliderContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}


.SliderWrap {
  display: flex;
  margin-bottom: 20px;
  /* position: absolute; */
}


.RightContent {
  flex: 1;
}

.SliderImage {
  height: 488px;
  object-fit: cover;
  border-radius: 4px;
}


.LeftContent {
  flex-basis: 488px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 20px 20px; 
  background: #fff3f1;
  height: 488px;
  margin-left: 15%;

}

.title {
  font-size: 60px;
  font-weight: 800;
  text-transform: uppercase;
  color: #000;
  line-height: 1.2;
  margin-top: 0;
  margin-bottom: 1.5rem

}

.hedTitle{
  font-size: 49px;
  font-weight: 700;
}

.PhoneNumber,
.Email {

font-weight: 400;
color: #000;
font-size: 1.25rem;
margin-bottom: 0.5rem;

}

.DescriptionWrap {
  margin-top: 0;
  margin-bottom: 1rem;

}

.Description {
  margin-bottom: 20px; 
  font-size: 14px;
  line-height: 25.2px;
  letter-spacing: normal;

}


.SliderButton{
  

  display: inline-block;
  outline: 0;
  text-align: center;
  cursor: pointer;
  padding: 17px 30px;
  border: 0;
  color: #fff;
  font-size: 17.5px;
  border: 2px solid transparent;
  border-color: #000;
  color: #000;
  background: transparent;
  font-weight: 800;
  line-height: 30px;
  transition: background,color .1s ease-in-out;
  &:hover {
      background-color: #000;
      color: #fff;
  }
  


}
@media screen and (max-width: 768px) {


  .Container {
    height: 100%;
    width: 100%;

  }
  .SliderWrap {
    flex-direction: column-reverse;
    margin-bottom: 20px;
  }
  
  .RightContent {
    order: -1;
  }
  
  .SliderImage {
    height: 500px;
    width: 100%;
    padding: 0 2px;
    overflow: hidden;
    border-radius: 4px 4px 0 0;
  }
  
  .LeftContent {
    height: auto;
    padding: 20px;
    margin-top: -30px;
    border-radius: 0 0 4px 4px;
  }
  
  .title {
    font-size: 40px;
    margin-bottom: 1rem;
  }
  
  .PhoneNumber,
  .Email {
    font-size: 1rem;
  }
  
  .Description {
    font-size: 12px;
    line-height: 1.4;
  }
}
